<!DOCTYPE html5>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/index.css">

</head>
<body>

    <div id="sel-block-type-root" class="modal center-content">
        <div id="sel-block-type-div" class="modal-window">
            <div id="sel-block-type-internal">
                <p style="margin: 0 0 0 0;">Select block type</p>
                <select id="block-type-select" style="margin-top: 5%; margin-bottom: 5%;"></select>
                <br/>
                <button onclick="setElementVisibility('sel-block-type-root', 'hidden')">Cancel</button>
                <button onclick="blockTypeSelectOnClick()">Select</button>
            </div>
        </div>
    </div>

    <div id="sel-block-name-root" class="modal center-content">
        <div id="sel-block-name-div" class="modal-window">
            <div id="sel-block-name-internal">
                <p style="margin: 0 0 0 0;">Select block name</p>
                <input id="block-name-input" type="text" style="margin-bottom: 5%; margin-top:5%;"></input>
                <br/>
                <button onclick="setElementVisibility('sel-block-name-root', 'hidden')">Cancel</button>
                <button onclick="addBlock(); setElementVisibility('sel-block-name-root', 'hidden')">Select</button>
            </div>
        </div>
    </div>

    <div align="center" style="margin-top: 100px; margin-left: 390px">
        <button onclick="addButtonOnClick()" class="blocks-control-button">Add</button>
        <button id="delete-button" onclick="deleteButtonOnClick()" class="blocks-control-button" disabled>Delete</button>
        <button onclick="saveButtonOnClick()" class="blocks-control-button">Save</button>
        <button onclick="downloadButtonOnClick()" class="blocks-control-button">Download</button>
    </div>

    <div align="center" style="margin-top: 5px;">
        <canvas id="canvas" width="800" height="400" style="border:1px solid #000000;"></canvas>
    </div>
    <div id="block-name" style="text-align: center; margin-top: 20px;">None</div>

    <div align="center" style="text-align: center; margin-top: 20px;">
        Block type:&nbsp;<font id="block-type" color="gray">None</font>
    </div>

    <div id="block-config" align="center"></div>

    <a id="download-hidden-link" style="display:none"></a>

    <script src="/static/jsdragblocks/blocks.js"></script>
    <script src="/static/axios/dist/axios.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>
